
// colors
$color-primary: #27374D;
$color-secondary: #526D82;
$color-tertiary: #9DB2BF;
$color-text: #DDE6ED;
$color-success: green;

// spacers
$padding-xl: 24px;
$padding-l: 16px;
$padding-m: 12px;
$padding-s: 8px;
$padding-xs: 4px;
